:root {
  --black: #1a1919;
  --gray: #272626;
  --gray-light: #3e3d3d;
  --orange: #f2a43d;
  --pink: #bc4abc;
  --blue: #263072;
  --gray-border: #f0f0f0;
  --font-main: 'Raleway', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

body {
  font-family: var(--font-main) !important;
}

body {
  background: var(--black);
  color: white;
}

header {
  height: 90px;
  border-bottom: 1px solid var(--gray-light);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}

.gradient {
  background: linear-gradient(50deg, #263072 0%, #bc4abc 46.35%, #f2a43d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content {
  color: white;
}

h1 {
  font-size: 100px;
  font-weight: 800;
  line-height: 110px; /* 110% */
  font
}

.hero-subtext {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  padding-top: 40px;
}

.nav-link {
  color: white;
}

.hero-buttons {
  padding-top: 48px;
}

button {
  border-radius: 500px;
  padding: 16px 32px;
  border: 1px solid;
  color: white;
  transition: ease-in-out .1s;
}

button.primary {
  background: var(--pink);
  border-color: var(--pink);
}

button.primary:hover {
  background: var(--blue);
  border-color: var(--blue);
}

button.secondary {
  background: transparent;
  border-color: var(--pink);
}

button.secondary:hover {
  background: var(--blue);
  border-color: var(--blue);
}

.hero-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card-icon {
  height: 65px;
  width: 65px;
  margin-bottom: 140px;
}

.section-title {
  padding-bottom: 16px;
  font-size: 35px !important;
  font-weight: 700;
}

.section-subtitle {
  padding-bottom: 80px;
  font-size: 35px !important;
}

#services {
  background: var(--gray);
  padding-top: 120px;
  padding-bottom: 120px;
}

#contact {
  background: var(--black);
  padding-top: 120px;
  padding-bottom: 120px;
}

.card {
  background: var(--gray-light);
  padding: 56px 42px 56px 42px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.40);
    border-radius: 40px;
}

.card-title {
  height: 70px;
}

.row {
  gap: 32px 0px;
}

input,
textarea {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid var(--gray-light) !important;
}

input::placeholder,
textarea::placeholder {
  color: white !important;
  font-size: 20px;
}

form button {
  width: 200px;
}

footer {
  background: var(--gray-light);
  padding-top: 80px;
  padding-bottom: 80px;
}


footer ul {
  list-style: none;
}

footer a {
  color: white;
  font-style: italic;
}


/* AJUSTES MOBILE */

@media (max-width: 768px) {
h1 {
  font-size: 60px;
  line-height: 64px;
}

.hero-subtext {
  font-size: 25px;
  line-height: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.hero-buttons {
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-brand img {
  width: 78px;
}

header {
  height: 62px;
}

.navbar-toggler-icon {
  padding-top: 5px;
}

#services, #contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

.swiper {
  padding-bottom: 80px!important;
}

footer {
  height: 500px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-subtitle {
  font-size: 24px!important;
}

  }